.vscode
/target
/private
.DS_Store
/rustica/rustica.db
*.pem
*.key
*.env
/resources/**/*
!/resources/create_certs.sh
!/resources/package.sh
!/resources/systemd-config/
!/resources/systemd-config/**/*
/kubernetes
