[package]
name = "rustica-agent"
version = "0.3.6"
authors = ["Mitchell Grenier <mitchell@confurious.io>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.12.1"
byteorder = "1.4.2"
clap = "3.0.0-beta.2"
env_logger = "0.8.2"
futures-core = "0.3"
futures-util = "0.3"
hex = "0.4.2"
lexical-core = {version = ">0.7.4"}
log = "0.4.13"
prost = "0.7"
ring = "0.16.9"
serde = "1.0.97"
serde_derive = "1.0"
sha2 = "0.9.2"
# For Production
sshcerts = {version = "0.6", features = ["yubikey"]}
# For Development
# sshcerts = {git = "https://github.com/obelisk/sshcerts", features = ["yubikey"]}
# sshcerts = {path = "../../sshcerts", features = ["yubikey"]}
tokio = { version = "1.0.0", features = ["full"] }
toml = "0.5.8"
tonic = {version = "0.4", features = ["tls"] }
yubikey-piv = {version = "0.1.0", features = ["untested"]}

[build-dependencies]
tonic-build = "0.4"

[lib]
name = "rustica_agent"
crate-type = ["staticlib", "rlib"]